SERP_API_KEY=<your_serp_api_key_here>
SERP_API_DEFAULT_CURRENCY=USD
TRAVEL_DEFAULT_CURRENCY=USD
SERP_API_MAX_ATTEMPTS=1

GOOGLE_CLOUD_PROJECT=<your_google_cloud_project_here>
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_GENAI_USE_VERTEXAI=<TRUE_or_FALSE>

PAYMENTS_DB_URL="postgresql://<user>:<password>@<host>:<port>/<database>"
PAYMENTS_MCP_LOG_LEVEL="INFO"

ITINERARY_EXPORT_DIR=./exports
ITINERARY_EXPORT_HOST="<your_export_host_here>"
ITINERARY_EXPORT_PORT="<your_export_port_here>"
ITINERARY_EXPORT_PUBLIC_URL="<your_export_public_url_here>"